<html xmlns:th="http://thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
<style type="text/css">
	

</style>
</head>
<body class="container">
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <span th:text="${ApplicationName}"></span>
	      </a>
	    </div>
    	<div class="collapse navbar-collapse">
		    <ul class="nav navbar-nav">
		        <li><a th:href="@{/}">Home</a></li>
	        </ul>
	        
			<ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{registration}"><span class="glyphicon-glyphicon-user"></span>Register</a></li>
                <li><a th:href="@{loginpage}"><span class="glyphicon-glyphicon-log-in"></span>Login</a></li>
            </ul>
       </div>
  </div>
</nav>

<div class="col-lg-12">
	<table class="table">
	    <thead>
	      <tr>
	        <th>Category</th>
	        <th>Title</th>
	        <th>Article</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr th:each="article:${Articles}" style="width:200px">
	        <td th:text="${article.getArticleCategory()}" ></td>
	        <td th:text="${article.getArticleTitle()}"></td>
	       <!--  <td th:text="${article.getArticleBody()}"></td> -->
	        <td><a th:href="${'/read_more/'+article.getArticleId()}">View</a></td>
	      </tr>
	    </tbody>
  	</table>
 </div>
 
 <hr/>
 
 <div class="col-lg-4 col-lg-offset-4">
 	<ul class="pagination">
	  <li th:each="i: ${#numbers.sequence(0,Articles.totalPages)}" >
	  	<a th:href="@{/(page=${i})}" th:text="${i}">1</a>
	  </li>
  </ul>
 </div>
  

</body>
</html>