<html xmlns:th="http://thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add An Article</title>
<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body class="container">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		        <span th:text="${ApplicationName}"></span>
		      </a>
		    </div>
	    	<div class="collapse navbar-collapse">
			    <ul class="nav navbar-nav">
			        <!-- <li><a th:href="@{/}">Home</a></li> -->
		        </ul>
		        <ul class="nav navbar-nav navbar-right">
		        	<li><a th:href="@{/account}" th:if="${CurrentUser!=null}" th:text="${CurrentUser.getName()}"><span class="glyphicon-glyphicon-log-in"></span>Account</a></li>
					<li><a th:href="@{logout}"><span class="glyphicon-glyphicon-log-in"></span>logout</a></li>
            	</ul>
	        </div>
	  </div>
	</nav>
	
	<div class="row">
	<div class="col-lg-12">
	  	<div class="jumbotron">
	  	<p><form:errors path="*{Article}"/></p>
		<form class="" th:object="${Article}" th:action="@{/save}" method="post">
			<input type="hidden" th:field="*{articleId}"/>
			<div class="form-group">
				<label for="category">Article Category</label>
				<select class="dropdown" id="category" th:field="*{articleCategory}">
				  <option value="science & technology">Science & Technology</option>
				  <option value="computer">Computer</option>
				  <option value="pylosophy">Pylosophy</option>
				</select>
			</div>
			
			<div class="form-group">
				<label for="title">Title</label>
				<textarea class="form-control" rows="3" id="title" name="articleTitle" th:field="*{articleTitle}"></textarea>
				<div th:errors="*{articleTitle}">Email Error</div>
			</div>
			
			<div class="form-group">
				<label for="article">Article</label>
				<textarea class="form-control input-lg" rows="30" name="articleBody" id="article" th:field="*{articleBody}"></textarea>
				<div th:if="${#fields.hasErrors('articleBody')}" th:errors="*{articleBody}">Email Error</div>		
			</div>
			
			<div class="form-group">
				<input type="submit" value="Submit" class="btn btn-success btn-block"/>
			</div>
		</form>
		</div>
	</div>
	</div>
</body>
</html>